  .w-101 {
  width: 60% !important;
  margin-left: 20%;
   }

   .MuiButtonBase-root .MuiButton-root .MuiButton-text{
       color: #fff !important;
   }
   video{
       width: 100vw;
       /* border: 2px solid red;
       z-index: -1; */

   }
   .display-22 {
  color: #000;
  /* background-color: #000; */
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2; 
  }
  .lead {
      color: #000;
      font-weight: 500;
  }
   .img{
       position: relative;
   }
   .img::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.3;
    /* border-radius: 20px; */
     }

.searchContainer{
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  background-color: #000;
  opacity: 0.8;
  border-radius: 10px;
  /* z-index: -1; */
}
.searchContainer button {
  color: #fff;
}
.input-search{
    background-color: #1177D0;
    border-radius: 10px;
    width: 90%;
    margin-left: 30px;
}
.input-search input::placeholder{
    color: #fff;
}
.input-search input[type=text]{
    height: 50px;
    background-color: #1177D0;
    width: 80%;
    border:none;
    align-items: center;
    color: white;
}
.input-search input[type=submit]{
    background-color: #1177D0;
    width: 10%;
    border:none;
    color: #fff;
}
.input-search input:focus {
   outline: none;
}
form {
    box-sizing: border-box;
}

.products-container-root{
position: relative;
 display: flex;
 margin-left: 40px;
 /* justify-content: center; */
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 0 5% 3% 5%;
 width: 80vw;
}
.products-container{
  /* position: absolute; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    width: 80vw;
    /* height: 1000px; */
    padding: 20px;
}
.product-left{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: #fff;
    width: 80vw;
    grid-gap: 20px;
    left: 20px;
    height: fit-content;
    max-height: 100%;
    justify-content: space-evenly;
    margin-top: 30px;
}
.product-right{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    color: #fff;
    grid-gap: 20px;
     width: 49%;
     /* height: 500px; */
}
.product-left-card{
    width: 300px;
    border-radius: 20px;
    margin-bottom: 20px;
    position: relative;
    /* height: 400px; */
}
/* .product-right-card{
   width: 270px;
    border-radius: 20px;
    margin-bottom: 20px;
    position: relative;
} */
.product-left-card:hover{
    transform: scale(1.1);
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0.3s;
    cursor: pointer;
}
.product-right-card:hover{
    transform: scale(1.1);
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0.3s;
    cursor: pointer;
 }
.product-left-card::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.3;
    border-radius: 20px;
} 
.product-left-card:nth-of-type(1){
    grid-column: span 2;
    width: 100%;
    /* height: 400px; */
}
.product-left-card:nth-of-type(6){
    grid-column: span 2;
    width: 100%;
}
.product-left-card:nth-of-type(7){
    grid-column: span 2;
    width: 100%;
}
.product-left-card img{
    border-radius: 20px;
    width: 100%;
    height: 230px;
}
.product-right-card{
    width: 300px;
    border-radius: 20px;
    position: relative;

}
.product-right-card::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.3;
    border-radius: 20px;
    }

.product-right-card .product-description {
    position: absolute;
    padding: 10px;
    align-items: center;
    justify-content: center;
    bottom: 20px;
}
.product-right-card img{
    border-radius: 20px;
    width: 100%;
    height: 230px;
}
.product-left-card .product-description {
    position: absolute;
    padding: 10px;
    align-items: center;
    justify-content: center;
    bottom: 20px;
}
.header-two{
    color: brown;
    /* color: #fff; */
    background-color: aqua;
    text-align: center;
}
strong{
    color: #fff;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 15px;
}

.services {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:1rem;
}
.services .item{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-color: #1F2935;
    justify-content: center;
    align-items: center;
}
.services .item svg{
    width: 80px;
    height: 100px;
    color: #fff;
    padding: 10px;
    border: 7px solid aqua;
    border-radius: 80%;
}
.services .item p{

    color: #fff;
}
.upper-footer{
    position: relative;
    background-color: #752482;
    width: 100vw;
    height: 250px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.upper-footer-slanted{
    position: relative;
    background-color: #752482;
    width: 100vw;
    height: 100px;
    margin-top: 0px;
}
.upper-footer-slanted::after{
    content: '';
    top: 80px;
    left: -3px;
    width: 100%;
    height: 60%;
    transform: rotate(3deg);
    background-color: #fff;
    z-index: 1;
    position: absolute;
}
.buttons{
    margin-top: 30px;
    margin-left: 180px;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.buttons .contacts a{
    color: #fff;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 30px;
    
}
.buttons .contacts a:hover{
    color: #752482;
    background-color: #fff;
    transition-duration: 1s;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 30px;
    text-decoration: none;
    
}
.buttons .feedbacks a{
    color: #fff;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 30px;
    
}
.buttons .feedbacks a:hover{
    color: #752482;
    background-color: #fff;
    transition-duration: 1s;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 30px;
    text-decoration: none;
    
}

.socialIcons{
    margin-left: 180px;
    margin-top: 50px;
    display: flex;
    width: 350px;
    justify-content: space-between;
}
.socialIcons .soIcon svg{
    width: 50px;
    height: 50px;
    padding: 10px;
    color: #fff;
    border-radius: 50%;
    background-color: #460f4e;
}
.footer {
    float: left;
    display: flex;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    /* background-color: cyan; */
}
.footer img {
    width: 94px;
    height: 30px;
    margin-right: 20px;
}
.upper-footer .terms{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    margin-right: 30px;
}
.upper-footer .terms >div ul li {
    color: #fff;
    list-style: none;
    padding: 10px;
}
.upper-footer .terms >div ul li a:hover {
    /* text-decoration: none; */
}
.upper-footer .terms >div ul li a:hover{
    bottom: 6px;
    border-bottom: 2px solid #fff;
    padding-bottom: 3px;
    text-decoration: none;
    color: #fff;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

@media screen and (max-width:414px){

    .product-left{
        display: 'grid';
        grid-template-columns: 1fr;
    }
    .product-left-card:nth-of-type(1){
    grid-column: span 1;
    width: 100%;
    height: 500px;
    background-color: cyan;
    }
    .product-left-card:nth-of-type(6){
        grid-column: span 1;
        width: 100%;
    }
    .product-left-card:nth-of-type(7){
        grid-column: span 1;
        width: 100%;
    }
    .services{
        display: 'grid';
        grid-template-columns: 1fr;
    }
    .upper-footer{
        display: 'none';
    }
    .display-22 {
  color: #000;
  margin-left: -100px;
  font-size: 1.6rem;
  font-weight: 500;
  /* background-color: red; */
  width: 100vw;
  line-height: 1.2;
}
.searchContainer{
    width: 90vw;
    margin-left: -60px;
}
.input-search{
    margin-left: 2px;
    width: 98%;
}
.input-search input[type=text]{
    width: 70%;
}
.input-search input[type=submit]{
    width: 25%;
}
.w-101{
    width: 95vw;
}
.upper-footer{
    display: flex;
    flex-direction: column;
    height: fit-content;
    /* margin-right: 10px; */
}
.buttons{
    width: 90vw;
    margin-left: 10px;
    justify-content: space-around;
}
.buttons .contacts a{
    margin-left: 10px;
}
.buttons .contacts a{
    margin-right: 20px;
}
.socialIcons{
    margin-left: 5px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.socialIcons .soIcon svg{
    width: 40px;
    height: 40px;
    padding: 10px;
    color: #fff;
    border-radius: 50%;
    background-color: #460f4e;
}
.upper-footer .terms{
    margin-top: 30px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* margin-right: 10px; */
    margin-left: 5px;
}
.upper-footer .terms>div:last-child {
    width: fit-content;
    margin-right: 25px;
    margin-left: -15px;
}
.upper-footer .terms>div:last-child ul{
    width: 100%;
}
.upper-footer-slanted{
    position: relative;
    background-color: #752482;
    width: 100vw;
    /* height: 0px; */
    margin-top: 0px;
}
.upper-footer-slanted::after{
    content: '';
    /* top: 80px; */
    left: -3px;
    width: 100%;
    height: 60%;
    transform: rotate(2deg);
    background-color: #fff;
    z-index: 1;
    position: absolute;
}

}




@media screen and (max-width:1000px){

    .product-left{
        display: 'grid';
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
    }
    .product-left-card:nth-of-type(1){
    grid-column: span 1;
    width: 100%;
    }
    .product-left-card:nth-of-type(6){
        grid-column: span 1;
        width: 100%;
    }
    .product-left-card:nth-of-type(7){
        grid-column: span 1;
        width: 100%;
    }
    .services{
        display: 'grid';
        grid-template-columns: 1fr 1fr;
    }
    .upper-footer{
        display: 'none';
    }
    .display-22 {
  color: #000;
  margin-left: -140px;
  font-size: 1.6rem;
  font-weight: 500;
  /* background-color: red; */
  width: 100vw;
  line-height: 1.2;
}
.searchContainer{
    width: 80vw;
    margin-left: -80px;
}
.input-search{
    margin-left: 2px;
    width: 98%;
}
.input-search input[type=text]{
    width: 70%;
}
.input-search input[type=submit]{
    width: 25%;
}
.w-101{
    width: 95vw;
}
.upper-footer{
    display: flex;
    flex-direction: column;
    height: fit-content;
    /* margin-right: 10px; */
}
.buttons{
    width: 90vw;
    margin-left: 10px;
    justify-content: space-around;
}
.buttons .contacts a{
    margin-left: 10px;
}
.buttons .contacts a{
    margin-right: 20px;
}
.socialIcons{
    /* margin-left: 5px; */
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.socialIcons .soIcon svg{
    width: 40px;
    height: 40px;
    padding: 10px;
    color: #fff;
    border-radius: 50%;
    background-color: #460f4e;
}
.upper-footer .terms{
    margin-top: 30px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* margin-right: 10px; */
    margin-left: 5px;
}
.upper-footer .terms>div:last-child {
    width: fit-content;
    margin-right: 25px;
    margin-left: -15px;
}
.upper-footer .terms>div:last-child ul{
    width: 100%;
}
.upper-footer-slanted{
    position: relative;
    background-color: #752482;
    width: 100vw;
    height: 0px;
    margin-top: 0px;
}
.upper-footer-slanted::after{
    content: '';
    /* top: 80px; */
    left: -3px;
    width: 100%;
    height: 60%;
    transform: rotate(3deg);
    background-color: #fff;
    z-index: 1;
    position: absolute;
}

}